@page "/Blog";
@page "/Posts";
@page "/Tag/{Tag}";
@page "/page/{PageNum}"
@page "/Blog/{PageNum}"
@layout AlbumLayout;
@inject IJSRuntime JSRuntime;
@inject NavigationManager NavigationManager;

<PageTitle>Chris Grabosky's Blog</PageTitle>

<div class="mainheader">
    <div class="row py-lg-5 masthead">
      <div class="col-lg-6 col-md-8 mx-auto">
        <img src="assets/2018headshot.jpg" class="img-circle" width="128" height="128" />
        <h1>Chris Grabosky</h1>
        <p class="lead">Father, paintballer, tinkerer, & technology enthusiast</p>
        <p class="lead">Views and thoughts are my own</p>
        <p class="lead">
            <a href="/Home"><i class="cil-home" title="Home"></i></a>
            @if(Tag != null) {
              <a @onclick="@(e=>NavigationManager.NavigateTo("/Blog", true))" href="#" style="margin-left:5px;margin-right:5px;"><i class="cil-notes" title="Blog"></i></a>
            } else {
              <a @onclick="@(e=>NavigationManager.NavigateTo("/Tag/tweet", true))" href="#" style="margin-left:5px;"><i class="cil-send" title="Epigrams"></i></a>
              <a @onclick="@(e=>NavigationManager.NavigateTo("/Tag/conference", true))" href="#" style="margin-right:5px;"><i class="cil-voice-over-record" title="Talks"></i></a>
            }
            <a href="/Pics"><i class="cil-camera" title="Pictures"></i></a>
            <a href="/Map"><i class="cil-map" title="Flights"></i></a>
        </p>
      </div>
    </div>
</div>

<div class="container">
  <div class="py-5 bg-light">
    <div class="container">

      @if(Tag != null) {
        <div class="row">
          <div class="col">
            @if(Tag == "tweet") {
              <h2>Viewing Epigrams</h2>
              <h2 style="font-size:20px;"><i>Definitely not Tweets or Truths or Posts or Threads or Toots...</i></h2>
            } else {
              <h2>Viewing @Tag</h2>
            }
          </div>
        </div>
        <div class="row">&nbsp;</div>
      }

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        @if (posts != null)
        {
          @foreach (var p in posts)
          {
            <div class="col">
              <a id="@p._id" name="@p._id"></a>

              @if(p.type == "tweet") {
                <!-- Its a tweet post -->
                <div class="card gskytweet" style="min-height:412px !important;background-image:url('/assets/icons/Quotation-Marks-256.png');background-repeat:no-repeat;background-size:20%">
                  <div class="card-body">
                    <h5 class="card-title" style="margin: 0; position: absolute; top: 45%; transform: translateY(-50%);font-style:italic;">@p.title</h5>
                    <div style="bottom:15px;position:absolute;width:90%">
                      @if (p.published_at != null)
                      {
                        <p class="card-text"><span class="oi oi-calendar"></span> @p.published_at.Split(" ")[0]</p>
                      }
                      else
                      {
                        <p class="card-text">&nbsp;</p>
                      }
                      <p class="card-text"><button @onclick="@(e=>NavTo(p._id, p.title))" class="btn btn-sm btn-gsky" style="margin:0px !important">Permalink</button></p>
                    </div>
                  </div>
                </div>
              } else {
                <!-- Its a blog post -->
                <div class="card gskycard" >
                  @if (p.Hero.Length > 3)
                  {
                    <img class="card-img-top" src="@p.Hero" />
                  }
                  <div class="card-body">
                    <h5 class="card-title">@p.title</h5>
                    @if (p.published_at != null)
                    {
                      <p class="card-text"><span class="oi oi-calendar"></span> @p.published_at.Split(" ")[0]</p>
                    }
                    else
                    {
                      <p class="card-text">&nbsp;</p>
                    }
                    <p class="card-text"><button @onclick="@(e=>NavTo(p._id, p.slug))" class="btn btn-sm btn-gsky" style="margin:0px !important">Read more..</button></p>
                  </div>
                </div>
              }

            </div>
          }
        }
      </div>

      <div class="row">&nbsp;</div>

      <div class="row">
        <div class="col">
          <button class="btn btn-lg btn-gsky" style="margin:0px !important" @onclick=Advance>More Posts</button>
        </div>
      </div>

    </div>
  </div>
  
</div>

<a name="bottomscroller" id="bottomscroller"></a>

@code {
    [Parameter]
    public string Tag {get; set;} = null;
    [Parameter]
    public string PageNum {get;set;} = null;

    private List<DataModels.Blog> posts = null;
    private bool loginSuccess;
    protected override async Task OnInitializedAsync ()
    {
        loginSuccess = await JSRuntime.InvokeAsync<bool>("login");

        if(Tag != null) {
          string[] args = {Tag};
          posts = await JSRuntime.InvokeAsync<List<DataModels.Blog>>("realmShim_Function", "getTaggedPosts", args);
        } else {
          string[] args = {};
          posts = await JSRuntime.InvokeAsync<List<DataModels.Blog>>("realmShim_Function", "getPostsAndTweets", args);
          
          if(PageNum != null) {
            int pn = Convert.ToInt32(PageNum);
            while(pn > 1) {
              await More();
              pn--;
            }
            await JSRuntime.InvokeVoidAsync("BlazorScrollToId", "bottomscroller");
          } else {
            PageNum = "1";
          }
        }
        
        StateHasChanged();
    }

    private async Task Advance() {
      await More();
      int newPage = Convert.ToInt32(PageNum) + 1;
      PageNum = newPage.ToString();
      NavigationManager.NavigateTo("/Blog/"+PageNum);

      int offsetScroll = (newPage-1)*12;
      if(offsetScroll < posts.Count) {
        await JSRuntime.InvokeVoidAsync("BlazorScrollToId", posts[offsetScroll]._id);
        await JSRuntime.InvokeVoidAsync("BlazorScrollToId", posts[offsetScroll]._id);
      } else {
        await JSRuntime.InvokeVoidAsync("BlazorScrollToId", "bottomscroller");
        await JSRuntime.InvokeVoidAsync("BlazorScrollToId", "bottomscroller");
      }
    }

    private async Task More() {
      List<DataModels.Blog> newPosts = null;

        if(Tag != null) {
          string[] args = {Tag, posts.LastOrDefault()._id};
          newPosts = await JSRuntime.InvokeAsync<List<DataModels.Blog>>("realmShim_Function", "getTaggedPosts", args);
        } else {
          string[] args = {posts.LastOrDefault()._id};
          newPosts = await JSRuntime.InvokeAsync<List<DataModels.Blog>>("realmShim_Function", "getPosts", args);
        }
        
        posts.AddRange(newPosts);
        
        StateHasChanged();
    }

    private async Task NavTo(string id, string slug) {
      string newSlug = (slug.Length < 30) ? slug : slug.Substring(0, 30);
      NavigationManager.NavigateTo("/Post/"+@id+"/"+newSlug.Replace(" ","-").Replace("/","").Replace(".",""));
    }
}
